@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: rgb(235, 235, 235);
    }
}

.flex-middle-box {
    display: flex;
    flex-direction: row;
}

.size-middle-box {
    max-width: 25rem !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.text-center-custom {
    text-align: -webkit-center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-middle-box {
        flex-direction: column;
    }
    .size-middle-box {
        max-width: auto;
    }
}
